body {
    font-family: "Raleway", sans-serif !important;
    display: block;
    width: 100%;
    height:100%;
    margin:0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration-line:none;
    color: #efefef;
}

h1 {
    color:  #ff6363;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: #484848;
}

.section{
    text-align: center;
    width: 100%;
    height: 100vh; /*vh했을 때와 다름*/
    position: relative; /*한 섹션이 브라우저 가득 화면을 채움*/
}

nav{
    font-weight:548;
    font-size: 22px;
    text-transform: uppercase;
}

/*header nav 파트*/
/* #header {
} */

.nav-brand {
    display:inline-block;
}

.nav-top {
    float: right;
    background-color: yellowgreen; /*확인을 위한 bk색깔 지정*/
}

#headMenu li{
    float: left;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 30px;
}

/*Home파트 */

.aboutme {
    background-image: url('images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.middleName p{
    Background-color: red;
}


/*임시 : 3번째 page hidden*/
.slide {
    display: none;
}

.nav-sidebar {
    display: none;
}