@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background-color: #70c270;
}
.login-page {
    /* background-color:skyblue; */
    width: 360px;
    padding: 8% 0 0;  
    margin: auto;
}

.form {
    z-index:1;
    background-color: #ffff;
    padding: 45px;
    max-width: 360px;
    position:relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
    margin: 0 auto 100px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serlf;
    background-color:#f2f2f2;
    width:100%;
    margin: 0 0 15px;
    padding: 15px;
    border:none;
    outline: none;
    font-size: 14px;
}

.form button {
    font-family:"Roboto", sans-serif;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    text-transform: uppercase;
    color:#f2f2f2;
    background-color: #4CAF50;
    border:none;
    outline:none;
    cursor:pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background-color: #3e8b40;
}

.form p {
    font-family:"Roboto", sans-serif;
    color: #b3b3b3;
    font-size:12px;
    margin: 12px 0 0;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size:12px;
}

.form .message a {
    color:#4CAF50;
    text-decoration: none;
}

.form .sign-form {
    display: none;
}

.form .login-form{
    display: block;
}
